
Data/title_akas.csv.gz
Data/title_basics.csv.gz
Data/title_rate.csv.gz
*.gz
*.json
.ipynb_checkpoints/Movies_Analyzation-PT2-checkpoint.ipynb
.ipynb_checkpoints/Movies_Analyzation-checkpoint.ipynb
.ipynb_checkpoints/API_request-checkpoint.ipynb
.ipynb_checkpoints/Movies_Analyzation-checkpoint.ipynb
.ipynb_checkpoints/Movies_Analyzation-checkpoint.ipynb
Data/clean_combined_tmdb_data.csv
.ipynb_checkpoints/Part 4 - Hypothesis Testing-checkpoint.ipynb
.ipynb_checkpoints/Clean_Data _2000_2019-checkpoint.ipynb
Data/combined_tmdb_data.csv
